*{
    margin: 0px;
}



.main{
    background-image: url("foto/objekti\ nga\ jashte.jpg");
    background-size:100% 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.2);

}
.llojet{
    border: 1px solid black;
    border-radius: 5%;
    margin: 10px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.llojet img{
    padding-bottom: 10px;
    border-radius: 2%;
    width: 350px;
    height: 250px;
}
.llojet p{
    color: white;
    color-scheme: black;
}


