*{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}
.logo{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

.faqet a{
    padding: 0px 5px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    
}

.main{
    display: flex;
    flex-direction: column;
    height: 70vh;
    font-size: xx-large;
    background-image: url("foto/icon\ naten.png");
    background-size:100% 100%;
    color: white;
    font-weight: bolder;
    flex-direction: column;
    padding: 10px 0px 0px 15px;
}
.main p{
    padding-bottom: 15px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    max-width: 65vh;
}
.main a{
    text-decoration: none;
    color: white;
    font-size: medium;
    border: 1px solid white;
    max-width: min-content;
    text-wrap: nowrap;
    padding: 5px;
}

.footer{
    display: flex;
    background-color: #231F20;
    color: #fefefe;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    
}
.footerbox{
    margin: 20px;
}
.footer-nav a{
    text-decoration: none;
    color: #656464;
}
.footer-nav{
    text-align: center;
    width: 100%;
}