*{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}
.logo{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

.faqet a{
    padding: 0px 5px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    
}
.faqet a:hover{
    font-size: larger;
    font: bolder;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
.main p {
    font-style: italic;
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 400px;
}
input{
    margin-top:10px ;
    height: 25px;
}
.posht-main{
    width: 50%;
    display: flex;
    height: 50vh;
    align-items: center;
    margin-bottom: 10px;
}

#mesazhi{
    height: 200px;
}
button{
    width: min-content;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    font-size: larger;
}
button:hover{
    border: 2px solid red;
    color: red;
}


footer{
    display: flex;
    background-color: #231F25;
    color: white;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    

    
}
.footerbox{
    margin: 10px;
}
.fundi a{
    text-decoration: none;
    color: #656462;
}
.fundi a:hover{
    color: white;
}
.fundi{
    text-align: center;
    width: 100%;
}